# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Zoom-Clone-With-WebRTC-master\Zoom-Clone-With-WebRTC-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
